body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    box-sizing: border-box;
    background-color: #000000;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .buttons {
    display: flex;
    gap: 15px;
}

.menu .iconss {
    display: flex;
    gap: 10px;
}

.menu button {
    background-color: #6a9c48;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu button:hover {
    background-color: #5a8a3b;
    transform: scale(1.05);
}

.menu .iconss .icon {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.menu .iconss .icon:hover {
    transform: scale(1.1);
}

main {
    text-align: left;
    padding: 20px;
    color: #fff;
    position: relative;
    background-image: url(../img/font.png);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 140px);
}

.main.content.title h1 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 10px;
}

.viajar.button {
    background-color: #6a9c48;
    border: none;
    padding: 15px 30px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.viajar.button:hover {
    background-color: #5a8a3b;
    transform: scale(1.05);
}

.locations.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.locations {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.location {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    padding: 30px;
    border-radius: 10px;
    width: calc(33% - 40px);
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.location img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: left;
    padding: 10px;
    background-color: #000;
    color: #fff;
}

.social.icons {
    display: flex;
    gap: 20px;
}

.social.icons .icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.social.icons .icon:hover {
    transform: scale(1.1);
}

.social.icons a {
    color: #fff;
    text-decoration: none;
    font-size: 5px;
}

.social.icons a:hover {
    color: #6a9c48;
}
